name: CI/CD Pipeline

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Run Tests
        run: pytest || echo "No tests found"

  build_scan_push:
    runs-on: ubuntu-latest
    needs: test
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v3

      - name: Build Docker Image
        run: docker build -t branchloanapi:${{ github.sha }} .

      - name: Run Trivy Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: branchloanapi:${{ github.sha }}

      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Tag & Push Docker Image
        run: |
          docker tag branchloanapi:${{ github.sha }} ghcr.io/${{ github.repository_owner }}/branchloanapi:${{ github.sha }}
          docker push ghcr.io/${{ github.repository_owner }}/branchloanapi:${{ github.sha }}
